.playerCell_0 {
    background-color: lightcoral;
    width: 18px;
    height: 14px;
}
.playerLog_0 {
    border: 2px solid red;
    background-color: lightcoral;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_1 {
    background-color: lightsalmon;
    width: 18px;
    height: 14px;
}
.playerLog_1 {
    border: 2px solid orangered;
    background-color: lightsalmon;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_2 {
    background-color: lightgreen;
    width: 18px;
    height: 14px;
}
.playerLog_2 {
    border: 2px solid green;
    background-color: lightgreen;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_3 {
    background-color: mediumpurple;
    width: 18px;
    height: 14px;
}
.playerLog_3 {
    border: 2px solid purple;
    background-color: mediumpurple;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_4 {
    background-color: khaki;
    width: 18px;
    height: 14px;
}
.playerLog_4 {
    border: 2px solid chocolate;
    background-color: khaki;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_5 {
    background-color: gold;
    width: 18px;
    height: 14px;
}
.playerLog_5 {
    border: 2px solid yellow;
    background-color: gold;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_6 {
    background-color: lightpink;
    width: 18px;
    height: 14px;
}
.playerLog_6 {
    border: 2px solid deeppink;
    background-color: lightpink;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_7 {
    background-color: forestgreen;
    width: 18px;
    height: 14px;
}
.playerLog_7 {
    border: 2px solid darkgreen;
    background-color: forestgreen;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_8 {
    background-color: red;
    width: 18px;
    height: 14px;
}
.playerLog_8 {
    border: 2px solid lightcoral;
    background-color: red;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_9 {
    background-color: orangered;
    width: 18px;
    height: 14px;
}
.playerLog_9 {
    border: 2px solid lightsalmon;
    background-color: orangered;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_10 {
    background-color: green;
    width: 18px;
    height: 14px;
}
.playerLog_10 {
    border: 2px solid lightgreen;
    background-color: green;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_11 {
    background-color: purple;
    width: 18px;
    height: 14px;
}
.playerLog_11 {
    border: 2px solid mediumpurple;
    background-color: purple;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_12 {
    background-color: chocolate;
    width: 18px;
    height: 14px;
}
.playerLog_12 {
    border: 2px solid khaki;
    background-color: chocolate;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_13 {
    background-color: yellow;
    width: 18px;
    height: 14px;
}
.playerLog_13 {
    border: 2px solid gold;
    background-color: yellow;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_14 {
    background-color: deeppink;
    width: 18px;
    height: 14px;
}
.playerLog_14 {
    border: 2px solid lightpink;
    background-color: deeppink;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_15 {
    background-color: darkgreen;
    width: 18px;
    height: 14px;
}
.playerLog_15 {
    border: 2px solid forestgreen;
    background-color: darkgreen;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
