[submodule "utils/cobbzilla-utils"]
	path = utils/cobbzilla-utils
	url = https://github.com/cobbzilla/cobbzilla-utils.git
[submodule "utils/cobbzilla-wizard"]
	path = utils/cobbzilla-wizard
	url = https://github.com/cobbzilla/cobbzilla-wizard.git
[submodule "utils/restex"]
	path = utils/restex
	url = https://github.com/cobbzilla/restex.git
