.playerCell {
    background-color: cornflowerblue;
    width: 18px;
    height: 14px;
}
.playerProtectedCell {
    border: 2px solid black;
}
.playerLog {
    border: 2px solid darkblue;
    background-color: cornflowerblue;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_0 {
    background-color: lightcoral;
    width: 18px;
    height: 14px;
}
.playerLog_0 {
    border: 2px solid red;
    background-color: lightcoral;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_1 {
    background-color: lightsalmon;
    width: 18px;
    height: 14px;
}
.playerLog_1 {
    border: 2px solid orangered;
    background-color: lightsalmon;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_2 {
    background-color: lightgreen;
    width: 18px;
    height: 14px;
}
.playerLog_2 {
    border: 2px solid green;
    background-color: lightgreen;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_3 {
    background-color: mediumpurple;
    width: 18px;
    height: 14px;
}
.playerLog_3 {
    border: 2px solid purple;
    background-color: mediumpurple;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_4 {
    background-color: khaki;
    width: 18px;
    height: 14px;
}
.playerLog_4 {
    border: 2px solid chocolate;
    background-color: khaki;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_5 {
    background-color: gold;
    width: 18px;
    height: 14px;
}
.playerLog_5 {
    border: 2px solid yellow;
    background-color: gold;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_6 {
    background-color: lightpink;
    width: 18px;
    height: 14px;
}
.playerLog_6 {
    border: 2px solid deeppink;
    background-color: lightpink;
    margin: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.playerCell_7 {
    background-color: forestgreen;
    width: 18px;
    height: 14px;
}
.playerLog_7 {
    border: 2px solid darkgreen;
    background-color: forestgreen;
    margin: 3px;
    padding-left: 5px;
    padding-right: 3px;
}
