html, body {
    font-family: Tahoma,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.h5title {
    font-family: Tahoma,sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.dialogContainer {
    visibility: hidden;
    font-family: Tahoma,sans-serif;
    z-index: -1;
    background-color: whitesmoke;
    overflow: hidden;
    pointer-events: visible;
    border: 2px solid black;
    padding: 5px;
}

.quitButton {
    font-family: Tahoma,sans-serif;
    position: relative;
    float: right;
}

.roomName {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: darkorange;
}

.playerName {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: blue;
}

.playerScore {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: darkgreen;
}

.gameCell {
    font-family: Tahoma,sans-serif;
    font-size: large;
    color: black;
    width: 22px;
    height: 30px;
    border:1px solid blue;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: visible;
    background-color: whitesmoke;
    text-align: center;
}

.gameTray {
    text-align: center;
    height: 23px;
}

.trayTile {
    font-family: Tahoma,sans-serif;
    font-size: large;
    color: black;
    width: 22px;
    height: 30px;
    border: 2px solid cadetblue;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: visible;
    background-color: whitesmoke;
    text-align: center;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.usedInTray {
    border: 2px solid darkblue;
    width: 18px;
    height: 14px;
}

.trayButtons {
    font-family: Tahoma,sans-serif;
    float: left;
}

.trayButton {
    font-family: Tahoma,sans-serif;
    visibility: hidden;
}

#gameRoomContainer {
    text-align: center;
}

#gameTray {
    text-align: center;
}

#gameBoard {
    text-align: center;
}