html, body {
    font-family: Tahoma,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #222222;
}

.h5title {
    font-family: Tahoma,sans-serif;
    font-size: small;
    font-weight: bold;
    position: absolute;
    top: -10px;
    left: 20px;
}
.h5title a {
    color: #222222;
    text-decoration: none;
}

#wordland_global_error {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: larger;
    color: orangered;
    background-color: whitesmoke;
    border: 1px orangered;
}

#status_panel {
    text-align: center;
    position: relative;
    top: -5px;
}

#quit_button {
    position: absolute;
    right: 10px;
    top: 10px;
}

#lobbyContainer {
    text-align: center;
    visibility: hidden;
    font-family: Tahoma,sans-serif;
    z-index: -1;
    overflow: hidden;
    pointer-events: visible;
}

#lobbyControlsContainer {
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 5px;
    position: relative;
}

#gameRoomContainer {
    text-align: center;
    visibility: hidden;
    font-family: Tahoma,sans-serif;
    z-index: -1;
    background-color: whitesmoke;
    pointer-events: visible;
    border: 2px solid black;
    padding: 5px;
    margin: 30px;
}

.quitButton {
    font-family: Tahoma,sans-serif;
    position: relative;
    float: right;
}

.roomName {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: darkorange;
}

.playerName {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: blue;
}

.playerScore {
    font-family: Tahoma,sans-serif;
    font-size: smaller;
    color: darkgreen;
}

.gameCell {
    font-family: Tahoma,sans-serif;
    font-size: large;
    color: black;
    width: 22px;
    height: 30px;
    border:1px solid blue;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: visible;
    background-color: whitesmoke;
    text-align: center;
}

.gameTray {
    text-align: center;
    height: 23px;
}

.trayTile {
    font-family: Tahoma,sans-serif;
    font-size: large;
    color: black;
    width: 22px;
    height: 26px;
    border: 2px solid cadetblue;
    -moz-border-radius: 6px;
    border-radius: 6px;
    pointer-events: visible;
    background-color: whitesmoke;
    text-align: center;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    z-index: 1;
    position: relative;
}

.dragging {
    z-index: 10;
}

.usedInTray {
    border: 2px solid mediumblue;
    background-color: lightblue;
    width: 18px;
    height: 14px;
}

.playerOwnedCell {
    border: 2px solid darkblue;
    background-color: cornflowerblue;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_0 {
    border: 2px solid red;
    background-color: lightcoral;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_1 {
    border: 2px solid orangered;
    background-color: lightsalmon;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_2 {
    border: 2px solid green;
    background-color: lightgreen;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_3 {
    border: 2px solid purple;
    background-color: lavender;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_4 {
    border: 2px solid chocolate;
    background-color: khaki;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_5 {
    border: 2px solid yellow;
    background-color: lightyellow;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_6 {
    border: 2px solid deeppink;
    background-color: lightpink;
    width: 18px;
    height: 14px;
}
.playerOwnedCell_7 {
    border: 2px solid darkgreen;
    background-color: forestgreen;
    width: 18px;
    height: 14px;
}

.trayButtons {
    font-family: Tahoma,sans-serif;
    float: left;
}

.trayButton {
    font-family: Tahoma,sans-serif;
    visibility: hidden;
}

#gameRoomContainer {
    text-align: center;
}

#gameTray {
    text-align: center;
}

#gameBoard {
    text-align: center;
}

.game_tray_help {
    color: gray;
}